<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ToDoList</title>
		<link rel="stylesheet" type="text/css" href="todolist.css">
		<script src="vue.js"></script>
	</head>
	
	<body>
		<div class="box1">
		    <div class="box2">ToDoList</div>
		    <div class="box3">你的待办事项表</div>
		</div>
		
		<div id="app">
			<div class="box4">
				<div class="box5">
					<h4>请输入你的待办事项： <button @click="addNewItem" id="submit">提交</button></h4> 
					<input type="text" name="thing" id="newitem" placeholder="  例如:吃饭睡觉打豆豆;   点击提交按钮即可添加至事项列表中"
					v-model="item" autocomplete="off">
				</div>
			</div>
			<div class="items">
			    <div class="todo">
			        <h4>列表未完成事项总数:
			            <span id="toDoNum">{{unfinishedNum}}</span>
						<button id="deleteAll" @click="deleteAll">清空列表</button>
			        </h4>
					<div>
					<div class="tip" v-show="!list.length">当前列表中不存在任何事项!</div>
					<ul class="todolist" v-show="list.length">
						<!--
							<li>待办事项</li>
						-->
						<li v-for="item in list" v-bind:class="{finished:item.isFinished}">
							<input type="checkbox" v-model="item.isFinished" @click="changeState(item)">
							<label v-bind:class="{change:item==changeItem}">
								<label class="visible">{{item.itemValue}}</label>
								<button @click="changeMes(item)" class="visible">修改</button>
								<button @click="deleteItem(item)" class="visible">删除</button>
								
								<label class="changeText"> 
									<input type="text" v-model="item.itemValue">
									<button id='cancel' @click="cancelCha(item)">取消</button>
									<button id='store' @click="storeCha(item)">保存</button>
								</label>
							</label>
						</li>
					</ul>
					</div>
				</div>    
			</div>
		</div>
		
		<script src="todolist.js"></script>
	</body>
	
</html>

